/* Import des feuilles de styles */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url("css/bg-color.css");

@import url('https://fonts.googleapis.com/css2?family=Abel&family=Open+Sans&display=swap');

body{
    padding: 0;
    margin: 0;
}

h1, h2{
    font-family: 'Abel', sans-serif;
}

p, a{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

/* Header */

header{
    padding-top: 50px;
    min-height: 350px;
    width: 100%;
    text-align: center;
    background-image: url("./img/bg-header.jpg");
    background-size: 100% 190%;
    background-repeat: no-repeat;
}

#logo{
    width: 100%;
    margin: 0 auto 80px 0;
    text-align: center;
}

#logo>img{
    height: 180px;
    width: 180px;
    margin: 0;
    border: 1px solid lightgrey;
    outline: 3px solid rgb(37, 37, 37);
    outline-offset: -4px;
}

#logo>h1{
    margin: 0;
    font-size: 1.5rem;
    font-weight: lighter;
}

nav{
    height: 40px;
    width: 400px;
    background-color: white;
    margin: auto;
    padding: 0;
}

ul{
    display: inline-block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 6px 34px;
}

ul li{
    list-style: none;
}

ul a, span{
    padding: 5px 2px;
    float: left;
    color: black;
}

/* Section Welcome */

#welcome{
    height: 300px;
    text-align: center;
    padding: 40px 30px;
}

#welcome>hr{
    width: 98%;
}

.display-1{
    margin: 0;
    font-size: 3.7rem;
}

.lead{
    width: 100%;
    font-size: 1.15rem;
}

.blue{
    position: absolute;
    margin: 18px -60px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4d82a1;
    color:lightgrey;
}

/* Section Parcours */

#competence{
    padding: 40px 40px 80px 40px;
    position: relative;
}

#competence>hr{
    width: 40%;
    margin-bottom: 40px;
}

.display-2{
    text-align: center;
}

#competence>.bg-light{
    min-height: 120px;
    padding: 10px 20px;
    margin: 20px auto 0 auto;
    width: 65%;
}

#competence>.bg-light>div{
    width: 100%;
    padding: 15px 10px;
}

.bg-light>div>p{
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5;
}

.bg-light>div>h2{
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
}

#competence>.bg-light>img{
    height: 100px;
    width: 100px;
    float: left;
    padding: 10px 16px 0 0;
}

/* Section Références */

#ref{
    position: relative;
    padding: 20px;
}

#ref>hr{
    width: 40%;
    color: lightgrey;
}

#container{
    width: 100%;
    display: -webkit-inline-box;
    margin: 0 auto 50px auto;
}

#container>div{
    text-align: center;
    width: 20%;
    margin: 0 auto;
}

figure{
    text-align: center;
}

figure>img{
    height: 220px;
    width: 220px;
}
/* Section Footer*/

footer{
    text-align: center;
    padding: 15px 15px 30px 15px;
}

.footer{
    color: lightgrey;
}

.footer a{
    color:#7e98a7;
}